[user]
	email = alp@alexpilon.ca
	name = Alex Pilon

[core]
	editor = vim

[alias]
	graph = log --graph --decorate --all --patch
	logg = log --graph --decorate --all --oneline
	type = cat-file -t
	dump = cat-file -p
	difff = diff --color --ignore-all-space --minimal

[push]
	default = current

[http]
	postBuffer = 10485760

[diff "nodiff"]
	command = true

[pretty]
    fixes = Fixes: %h (\"%s\")
