.config/vlc/vlcrc                   diff=nodiff
.config/xfce4/terminal/terminalrc   diff=nodiff
.config/mupen64plus/mupen64plus.cfg diff=nodiff
.config/supertuxkart/input.xml      diff=nodiff
.config/Trolltech.conf              diff=nodiff
lib/profile                         diff=nodiff
.local/share/love/mari0/options.txt diff=nodiff
.config/retroarch/retroarch.cfg     diff=nodiff
.mozilla/firefox/na5h8tcm.default/prefs.js diff=nodiff
