# vim: noet
[user]
	email = alp@alexpilon.ca
	name = Alex Pilon
	# TODO: Retroactively sign commits
	#       * http://stackoverflow.com/questions/13043357/git-sign-off-previous-commits/13043757#13043757
	#           - use git config --get though
	signingkey = 3692F8EFAA84B7A6ABB4B1D433560A4A4E517962

[alias]
	# Show full graph and patch of all commits
	graph = log --graph --decorate --all --patch --cc

	# Show the graph of local commits only
	log- = log --graph --decorate --oneline
	# and also all remotes, branches, etc.
	logg = log --graph --decorate --all --oneline
	# Same, but also show a timestamp and author
	logd = log --graph --all --pretty='%C(auto)%h %C(bold blue)[%ai]%C(reset)%C(auto)%d %s %C(dim white)- %an'
	# Just show the topology.
	logt = log --graph --decorate --all --oneline --simplify-by-decoration
	# Show the entire graph, and also the files touched by each commit.
	logn = log --graph --decorate --all --oneline --name-status
	# Show the minimum merges and non-common commits between $1 and $2.
	# Use this for visualizing what you're merging.
	logm = log --graph --decorate --oneline --cherry-pick --first-parent

	# Show $1 type
	type = cat-file -t
	# Show $1 per se
	dump = cat-file -p

	# Commits from last pull GROUP BY author
	changelog = shortlog @{1}..@
	# Commits from last pull ORDER BY date
	lastlog   = log      @{1}..@ --date-order

	# Already merged commits
	merged = branch --merged HEAD
	unmerged = branch --no-merged HEAD

[push]
	default = current

[http]
	postBuffer = 10485760

[diff "nodiff"]
	command = true

[pretty]
	fixes = Fixes: %h (\"%s\")

[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim \"$MERGED\" -c \"normal ]nzRzt\"
