$include /etc/inputrc

# The most important thing, complete like zsh
Tab: menu-complete
set show-all-if-ambiguous on
set menu-complete-display-prefix on

$if mode=vi
        set keymap vi-command
        Control-l: clear-screen
        /: reverse-search-history
        ?: forward-search-history
        gg: beginning-of-history
        G: end-of-history

        set keymap vi-insert
        Control-l: clear-screen
$endif

set keymap vi
set editing-mode vi

set enable-bracketed-paste on
