#! /bin/sh

set -e


setxkbmap -option ctrl:nocaps \
          -option compose:ralt \
          -option compose:rwin \
          -option terminate:ctrl_alt_bksp
keynav &

xsetroot -solid '#7f7f7f'

remind -h -a -f -k'notify-send Reminder %s' .reminders &
export REMIND_PID="$!"

wmname "${WM:=$1}"
case "$WM" in
    dwm)
        # Set date, time, and remaining battery in DWM toolbar.
        while true; do
            xsetroot -name "$(date) | $(acpi -b | cut -d ' ' -f 5-)"
            sleep 1
        done &

        export _JAVA_AWT_WM_NONREPARENTING=1
        ;;

    i3)
        ;;
    *)
        xbindkeys
        ;;
esac

xset s 300
xss-lock -- slock &

for key in TapButton{1,2,3}; do
    synclient ${key}=0
done
syndaemon -i 0.5 -k -R &
