#! /bin/sh

set -e


screenlocker() {
    # Lock screen on 5 minutes of inactivity
    while true; do
        sinac ${1:-300} && slock
    done &
}


setxkbmap -option ctrl:nocaps \
          -option compose:ralt \
          -option compose:rwin
keynav &

xsetroot -solid '#7f7f7f'

remind -h -a -f -k'notify-send Reminder %s' .reminders &
export REMIND_PID="$!"

wmname "${WM:=$1}"
case "$WM" in
    dwm)
        # Set date, time, and remaining battery in DWM toolbar.
        while true; do
            xsetroot -name "$(date) | $(acpi -b | cut -d ' ' -f 5-)"
            sleep 1
        done &

        screenlocker

        export _JAVA_AWT_WM_NONREPARENTING=1
        ;;

    *)
        xbindkeys
        screenlocker
        ;;
esac

for key in TapButton{1,2,3}; do
    synclient ${key}=0
done
syndaemon -i 0.5 -k -R &
