snippet moustache "Moustache Unicode art" b
	༼ຈل͜ຈ༽

snippet fliptable "Table flip Unicode art" b
	(╯°□°）╯︵ ┻━┻

snippet kowtow "Front view of kowtow" b
	m(__)m

snippet lennyface "Lenny face" b
	( ͡° ͜ʖ ͡°)

# TODO: More from https://textfac.es/
