# Full IPython shell
snippet start_kernel
	import IPython
	IPython.start_ipython(argv=[], user_ns=locals())
# IPython set_trace
snippet debugger
	from IPython.terminal import debugger
	debugger.set_trace()
